{% extends "base.html" %}

{% block title %}Vote{% endblock %}

{% block content %}
<div class="text-right">
    <a class ="btn btn-primary btn-sm mb-3" href ="{% url 'home' %}">Back To Polls</a>
</div>

<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-capitalize"l>{{ poll.question }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <hr />

            <form method="POST">
                {% csrf_token %}

                <div class="form-check text-capitalize">
                  <input type="radio" name="poll" value="option1 ">
                                    {{ poll.option_one }}
                  <label class="form-check-label" for="flexRadioDefault1"> </label>
                </div>
                <div class="form-check text-capitalize">
                  <input type="radio" name="poll" value="option2">
                                    {{ poll.option_two }}
                  <label class="form-check-label" for="flexRadioDefault1"> </label>
                </div>
                <div class="form-check text-capitalize">
                  <input type="radio" name="poll" value="option3">
                                    {{ poll.option_three }}
                  <label class="form-check-label" for="flexRadioDefault1"> </label>
                </div>




                <hr />

                <button type="submit" class="btn btn-info">
                    Submit
                </button>
            </form>
        </div>

    </div>

</div>
{% endblock %}